<div class="post-card">
    <div class="post-meta">
      <strong>{{ post.authorName }}</strong>
      <span class="timestamp">{{ post.createdAt | date:'short' }}</span>
    </div>
  
    <p class="post-content">{{ post.content }}</p>
  
    <div class="post-tags" *ngIf="post.tags?.length">
      <span *ngFor="let tag of post.tags">#{{ tag }}</span>
    </div>
  
    <div class="image-grid" *ngIf="post.images?.length">
      <ng-container *ngFor="let img of visibleImages(); let i = index">
        <img [src]="img" alt="Post image" />
      </ng-container>
  
      <div *ngIf="!showAllImages && remainingImageCount() > 0" class="more" (click)="toggleImages()">
        +{{ remainingImageCount() }}
      </div>
    </div>
  
    <div class="post-actions">
      ❤️ {{ post.likes ?? 0 }} likes
    </div>
  </div>